POSTGRES_USER=hatch
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=hatch

ALLOWED_ORIGIN=http://localhost:5173

GITHUB_WEBHOOK_SECRET=generate_a_long_random_string_here
GITHUB_APP_ENABLED=true
GITHUB_APP_ID=

HATCH_DOMAIN=localhost
